// loading
@keyframes loading {
  0% {
    width: 0;
  }
  70% {
    width: 100%;
    opacity: 1;
  }
  90% {
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}

@keyframes loading-motion {
  0% {
    height: 57px;
  }
  33% {
    height: 58px;
  }
  66% {
    height: 60px;
  }
  100% {
    height: 58px;
  }
}

@keyframes loading-move {
  0% {
    left: 0;
  }
  70% {
    left: 78%;
  }
  100% {
    left: 78%;
  }
}

// 말풍선 효과
@keyframes balloon {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-5px);
  }
}

// 글자 나타남
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

// 그래프 애니메이션
@keyframes skill {
  from {
    width: 0;
  }

  to {
    width: graph;
  }
}

// quick 나타나기 
@keyframes quick-1 {
  0% {
    right: -150px;
  }

  100% {
    right: 60px;
  }
}
// @keyframes quick-2 {
//   0% {
//     transform: translateX(500%);
//   }

//   20% {
//     transform: translateX(500%);
//   }

//   80% {
//     transform: translateX(0);
//   }
// }
// @keyframes quick-3 {
//   0% {
//     transform: translateX(500%);
//   }

//   40% {
//     transform: translateX(500%);
//   }

//   100% {
//     transform: translateX(0);
//   }
// }

// quick 모바일버전 효과
@keyframes quick-mob-1 {
  0% {
    bottom: -150px;
  }

  100% {
    bottom: 50px;
  }
}
@keyframes quick-mob-2 {
  0% {
    transform: translateY(500%);
  }

  20% {
    transform: translateY(500%);
  }

  80% {
    transform: translateY(0);
  }
}
@keyframes quick-mob-3 {
  0% {
    transform: translateY(500%);
  }

  40% {
    transform: translateY(500%);
  }

  100% {
    transform: translateY(0);
  }
}

// 포트폴리오 텍스트 후버효과
@keyframes tracking-in-contract {
  0% {
    letter-spacing: normal;
  }
  50% {
    letter-spacing: 0.1em;
  }
  100% {
    letter-spacing: normal;
  }
}


// 서브 페이지 손가락 애니메이션
@keyframes scroll-down {
  from {
    bottom: 35px;
  }

  to {
    bottom: 25px;
  }
}
