.hd {
  background-color: #1b1b1b;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;

  .hamburger {
    display: none;
  }

  .logo {
    line-height: 80px;

    img {
      width: 204px;
      display: block; 
    }
  }

  .gnb {
    display: flex;
    
    a {
      display: inline-block;
      color: #fff;
      font-size: 18px;
      font-weight: 400;
    }

    .dep1 {
      line-height: 80px;
      margin-left: 57px;

      &:hover {
        > a {
          text-decoration: underline;
        }

        .dep2 {
          height: 150px;
          padding: 8px 0;
        }
      }

      &-arrow {
        position: relative;
        
        > a {
          &::after {
            content: '▼';
            color: #fff;
            font-size: 12px;
            margin-left: 9px;
          }
        }
      }
      
      .dep2 {
        height: 0px;
        overflow: hidden;
        position: absolute;
        background-color: #3b21b0;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 208px;
        text-align: center;
        line-height: 45px;
        transition: all 0.3s;
        
        a {
          display: block;
          font-size: 13px;
          transition: all 0.3s ease;

          &:hover {
            background-color: #fff;
            color: #3b21b0;
          }
        }
      }
    }
  }
}

@include tablet-900 {
  .hd {
    .logo {
      display: inline-block;
      margin: 0 auto;

      a {
        display: block;

        img {
          display: block;
          width: 254px;
          padding: 16.5px 0;
        }
      }
    }

    .gnb {
      background-color: rgba($color: #3b21b0, $alpha: .9);
      position: fixed;
      top: -100%;
      right: 0;
      // bottom: 0;
      left: 0;
      display: block;
      text-align: center;
      padding-top: 100px;
      // transform: translateY(-100%);
      transition: all 0.9s;
      opacity: 0;

      a {
        font-size: 36px;
        font-weight: 500;
      }

      .dep1 {
        line-height: 100px;
        margin-left: 0;

        &:active {
          > a {
            text-decoration: underline;
          }
        }
        
        &:hover {
          .dep2 {
            height: 316px;
          }
        }

        .dep2 {
          position: relative;
          background-color: transparent;
          width: auto;
          line-height: 100px;
  
          a {
            font-size: 30px;

            &:hover {
              background-color: transparent;
              color: #fff;
              text-decoration: underline;
            } 

            &:active {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .hamburger {
      display: block;
      position: absolute;
      top: 50%;
      right: 3%;
      z-index: 3;
      transform: translateY(-50%);
      width: 45px;
      height: 45px;
      cursor: pointer;

      li {
        position: absolute;
        left: 5%;
        transform: translateY(-50%);
        width: 90%;
        height: 7px;
        background: #fff;
        border-radius: 20px;
        transition: .9s;
        opacity: 1;
      }

      .line1 {
        top: 20%;
      }

      .line2,
      .line3 {
        top: 50%;
      }
      
      .line4 {
        top: 80%;
      }

      &.active {
        .line1 {
          top: -20%;
          opacity: 0;
        }

        .line2 {
          transform: translateY(-50%)rotate(45deg);
        }

        .line3 {
          transform: translateY(-50%)rotate(-45deg);
        }

        .line4 {
          top: 120%;
          opacity: 0;
        }

        ~ .gnb {
          top: 0;
          bottom: 0;
          opacity: 1;
        }
      }
    }
  }
}