// quick
[class^= 'quick-'] {
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 position: fixed;
 width: 55px;
 height: 52px;
 right: 60px;

 .img-box {
   display: none;
   position: relative;

   img {
     position: absolute;
     top: -35px;
     left: 50%;
     transform: translateX(-50%);
   }
 }

 &:hover {
   .img-box {
     display: block;
   }
 }
}
.quick-green {
 background-image: url(../images/quick-green.png);
 bottom: 300px;
 animation: quick-1 1s;

 .img-box {
   img {
     width: 59px;
   }
 }

 &:hover {
   background-image: url(../images/quick-green-hover.png);
 }
}
.quick-yellow {
 background-image: url(../images/quick-yellow.png);
 bottom: 200px;
 animation: quick-2 1s;

 .img-box {
   img {
     width: 121px;
   }
 }

 &:hover {
   background-image: url(../images/quick-yellow-hover.png);
 }
}
.quick-pink {
 background-image: url(../images/quick-pink.png);
 bottom: 100px;
 animation: quick-3 1s;

 .img-box {
   img {
     width: 100px;
   }
 }

 &:hover {
   background-image: url(../images/quick-pink-hover.png);
 }
}
