// quick
.quick {
  [class^= 'quick-'] {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    width: 55px;
    height: 52px;
  
    .img-box {
      display: none;
      position: relative;
  
      img {
        position: absolute;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  
    &:hover {
      .img-box {
        display: block;
      }
    }
  }
  
  .quick-green {
    background: url(../images/quick-green.png) -10px -10px;
    bottom: 300px;
    animation: quick-1 0.8s cubic-bezier(0,-0.04, 0.41, 0.95) both;
  
    .img-box {
      img {
        width: 59px;
      }
    }
  
    &:hover {
      background: url(../images/quick-green.png) -85px -10px;
    }
  }
  
  .quick-yellow {
    background: url(../images/quick-yellow.png) -85px -10px;
    bottom: 200px;
    animation: quick-1 0.8s cubic-bezier(0,-0.04, 0.41, 0.95) 0.2s both;
  
    .img-box {
      img {
        width: 121px;
      }
    }
  
    &:hover {
      background: url(../images/quick-yellow.png) -10px -10px;
    }
  }
  
  .quick-pink {
    background: url(../images/quick-pink.png) -85px -10px;
    bottom: 100px;
    animation: quick-1 0.8s cubic-bezier(0,-0.04, 0.41, 0.95) 0.4s both;
    
    .img-box {
      img {
        width: 100px;
      }
    }
   
    &:hover {
      background: url(../images/quick-pink.png) -10px -10px;
    }
  }
}

@include tablet-720 {
  .quick {
    [class^= 'quick-'] {
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .quick-green {
      transform: translateX(-250%);
      animation: quick-mob-1 0.6s cubic-bezier(0,-0.04, 0.41, 0.95) both;
      left: 47%;
    }
  
    .quick-yellow {
      animation: quick-mob-1 0.6s cubic-bezier(0,-0.04, 0.41, 0.95) 0.2s both;
    }
  
    .quick-pink {
      transform: translateX(150%);
      animation: quick-mob-1 0.6s cubic-bezier(0,-0.04, 0.41, 0.95) 0.4s both;
      left: 53%;
    }
  }

  .quick.hide {
    .quick-green {
      animation: quick-mob-2 0.6s ease-in-out 0.4s both;
    }

    .quick-yellow {
      animation: quick-mob-2 0.6s ease-in-out 0.2s both;
    }

    .quick-pink {
      animation: quick-mob-2 0.6s ease-in-out both;
    }
  }
}
