.kv {
 position: relative;
 width: 100%;
 height: 865px;
 margin-top: 80px;

 .tit {
  position: absolute;
  font-family: 'ChunkFive Regular';
  font-size: 100px;
  color: #fff;
  bottom: 110px;
  left: 109px;
 }

 .scroll-down {
  position: absolute;
  bottom: 30px;
  left: 119px;
  animation: scroll-down 0.7s ease-in infinite alternate;
 }
}


// web design 페이지
.web {
 .kv {
  background-image: url(../images/kv-web.png);
 }

 .content {
  margin: 100px 0;

  [class^="cont-"] {
   background-color: #1b1b1b;
   display: flex;
   align-items: flex-end;
   padding: 22px;
   color: #fff;
   font-family: 'KOTRA_GOTHIC';

   .img-area {
    width: 748px;
    
    img {
     display: block;
     width: 100%;
    }
   }

   .txt-area {
    .tit {
     font-size: 18px;
    }

    .sub-tit {
     font-size: 24px;
    }

    .desc {
     font-size: 18px;
     margin-top: 24px;
    }
   }

   .btn {
    display: inline-block;
    background-color: #25ec88;
    color: black;
    width: 165px;
    line-height: 51px;
    font-family: 'KOTRA_GOTHIC';
    font-size: 18px;
    text-align: center;
    margin-top: 24px;
   }
  }

  .cont-right {
   margin: 100px 0 100px 380px;
   justify-content: left;

   .txt-area {
    margin-left: 22px;
   }
  }

  .cont-left {
   margin: 100px 380px 100px 0;
   justify-content: right;

   .txt-area {
    text-align: right;
    margin-right: 22px;
   }
  }
 }
}


// character design 페이지
.character {
 .kv {
  background-image: url(../images/kv-character.png);
 }

 .content {
  margin: 100px 0 76px;

  .inner { padding: 0; }

  .content-list {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -12px;

   .list-item {
    flex: 0 1 calc((100% / 3) - 24px);
    text-align: center;
    margin: 0 12px 24px;

    .img-area {
     position: relative;
     overflow: hidden;

     img {
      display: block;
      width: 100%;
      transition: all 1s;
     }

     &::after {
      position: absolute;
      content: "";
      display: inline-block;
      background-color: #fff;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      opacity: 0;
      transition: all 1s;
     }
    }

    .txt-area {
     background-color: #1b1b1b;
     color: #fff;
     font-family: 'KOTRA_GOTHIC';

     .tit {
      font-size: 24px;
      padding-top: 15px;
     }

     .desc {
      font-size: 18px;
      padding-bottom: 15px;
     }
    }

    &:hover {
     .img-area {
      img {
       transform: scale(1.1);
      }

      &::after {
       height: 200%;
       opacity: .3;
      }
     }
    }
   }
  }
 }
}


// 그래픽 디자인페이지
.graphic {
 .kv {
  background-image: url(../images/kv-graphic.png);
 }

 .content {
  text-align: center;
  margin: 100px 0 76px;

  .inner {
   padding: 0;
  }

  .button {
   margin-bottom: 24px;

   .btn {
    font-family: 'ChunkFive Regular';
    font-size: 24px;
    margin: 0 12px;
    transition: all 0.3s;

    &:hover {
     transform: scale(1.1);
    }
   }
  } 
  
  .portfolio-graphic {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -12px;

   .mix {
    flex: 0 1 calc((100% / 3) - 24px);
    margin: 0 12px 24px;
    overflow: hidden;
    // transition: all 0.3s;

    &:hover {
     img {
      transform: scale(1.1);
     }
    }

    img {
     display: block;
     width: 100%;
     transition: all 1s;
    }
   }
  }
 }
}